* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.hero {
  margin-left: 150px;
  margin-right: 150px;
}

h1 {
  margin-left: 150px;
}

ul {
  display: flex;
  gap: 50px;
  list-style: none;
  color: #000000;
  margin-right: 150px;
}

a {
  text-decoration: none;
}

.secondary-photo {
  width: 410px;
}

.expiriences {
  display: flex;
  justify-content: space-around;
  /* width: 250px; */
}

.expirience {
  width: 250px;
}

.photo-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.main-photo {
  width: 500px;
}

.hero-image {
  height: 250px;
  overflow: hidden;
  flex-shrink: 0;
}

.hero {
  display: flex;
  gap: 24px;
}

